:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --primary-bgcolor: #fff;
  --secondary-bgcolor: #f9f7fe;
  --secondary-font-color: #272142;
}

body {
  margin-bottom: 50px;
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-bgcolor);
}

h1,
h2,
h3 {
  margin: 0;
  font-family: "Playfair Display", serif;
}

.my-navbar {
  background-color: var(--secondary-bgcolor);
}

.my-collapse {
  flex-grow: initial;
}

.my-nav-link {
  padding: 0;
  margin-left: 40px;
  color: rgba(39, 33, 66, 0.7);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}

.navbar-light .navbar-nav .nav-link.my-active {
  color: var(--primary-color);
}

.hi {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.5;
  margin: 0;
  color: var(--secondary-font-color);
}

.hero .about {
  margin-bottom: 67px;
  color: var(--secondary-font-color);
}

.introduction {
  font-size: 18px;
  line-height: 1.5;

  margin: 129px 0 82px 0;
  text-align: center;
}

.proj-link {
  border: 1px solid var(--primary-color);
  transition: 300ms ease-in-out;
}

.proj-link:hover,
.proj-link:focus {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  background-color: var(--primary-bgcolor);
}

.proj-list {
  font-size: 16px;
  line-height: 1.88;
  color: rgba(39, 33, 66, 0.7);
}

.hero-about {
  margin-top: 239px;
}

.proj-card:not(:last-child) {
  margin-bottom: 70px;
}

.work-inquiry-container {
  background-color: var(--secondary-bgcolor);
  border-radius: 20px;
  margin-top: 130px;
  padding: 45px 120px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.work-inquiry-container p {
  font-size: 18px;
  line-height: 1.5;

  margin-top: 18px;
  color: rgba(39, 33, 66, 0.7);
}

footer {
  margin-top: 80px;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.social-list__link {
  width: 40px;
  height: 40px;

  background-color: var(--secondary-bgcolor);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-list__item + .social-list__item {
  margin-left: 30px;
}

@media (max-width: 767px) {
  h2 {
    text-align: center;
  }
  p {
    text-align: center;
  }
  .proj-link {
    display: block;
    text-align: center;
    margin: 0 30%;
  }
}

@media (min-width: 320px) {
  .hero {
    background-color: var(--secondary-bgcolor);
    padding-top: 100px;
    padding-bottom: 100px;
  }
  h1 {
    font-size: 35px;
    font-weight: 700;
    line-height: 1.33;
  }
  h2 {
    font-size: 28px;
  }
  .email-link {
    font-size: 18px;
  }
  .about-app {
    width: 100%;
    padding: 0 61px;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 48px;
  }
  .email-link {
    font-size: 24px;
    line-height: 1.5;
  }
  .about-app {
    width: 50%;
  }
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media (min-width: 1280px) {
  h1 {
    font-size: 75px;
  }
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.primary-link {
  border-radius: 4px;
  padding: 18px 30px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;

  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
}

.about-paragraphs {
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: #000;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: none;
  color: #000;
}
